.todo-list {
}

.atodo {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    box-shadow: 2px 2px 3px 3px #ccc;
}

.todo {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    word-break: break-all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* .test {
    flex-grow: 1;
} */

/* Hide the browser's default checkbox */
.todo input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 15%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.todo:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.todo input:checked ~ .checkmark {
    background-color: #0bbe18;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.todo input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.todo .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.del-btn {
    --margin-right: 1.5rem
}
